.u-center-text {text-align: center !important;}

.u-margin-botton-big{ margin-bottom: 8rem !important; }
.u-margin-botton-midium {margin-bottom: 4rem !important;}
.u-margin-botton-small {margin-bottom: 2rem !important;}

.u-margin-top-big{ margin-bottom: 8rem !important; }
.u-margin-top-huge{ margin-bottom: 10rem !important; }

